<%= simple_form_for [ @challenge, @artwork ] do |f| %>
  <%= f.input :title, required: true, include_blank: false, label: "Title of your Artwork" %>
  <%= f.input :description, required: true, label: "Tell us more" %>
  <div id="div_photo">
    <%= f.input :files, as: :file, input_html: {multiple: true}, label: "Upload your files" %>
    <%= f.submit "Submit Artwork", class: "btn_login2" %>
  </div>
  <% end %>
