<!-- multistep form -->
  <!--fieldsets-->
  <%= simple_form_for [ challenge, artwork ] do |f| %>
    <div class="step step-1 index stepactive">
      <div class="form-group" id="first-page-form">
      <h1>Artwork Details</h1>
          <%= f.input :title, placeholder: "Choose a title for your Artwork...", label: false %>
          <%= f.input :description, placeholder: "Tell us more about your Artwork...", label: false %>
          <div id="next-btn-div">
            <%= f.button :button, "Next", class: "next-btn" %>
          </div>
      </div>
    </div>

    <div class="step step-2 index">
      <div class="form-group" id="second-page-form">
        <h1>Artwork Upload</h1>
          <div id="div_photo">
            <%= f.input :files, as: :file, input_html: { class: 'd-none', id: 'files-input', multiple: true }, label_html: { class: 'upload-files'}, label: "Upload files" %>
            <div id="photo-preview">
              <%= image_tag "", width: 300, class: "hidden", id: "files-preview" %>
            </div>
            <div id="prev-sub-btn">
              <%= f.button :button, "Previous", class: "previous-btn"  %>
              <%= f.submit "Create Artwork", class: "submit-btn", remote: true %>
            </div>
          </div>
      </div>
    </div>
    <% if artwork.created_at? %>
      <div class="step step-3 index">
        <div class="form-group">
          <h1>Share your Artwork</h1>
          <p>Hello</p>
        </div>
      </div>
    <% end %>

  <% end %>

<%# si l'artwork est bien save, alors je redirect to cette page, avec une information spécifique dans l'url %>
<%# fais un bloc de JS sur cette page, qui se load au rechargement, et si il trouve 'artwork created', alors il pop up la modal step 3 %>
