<% total = @challenge.end_date - @challenge.start_date %>
<% progression = Date.today - @challenge.start_date %>
<% time_left = @challenge.end_date - Date.today %>
<% if @challenge.end_date <= Date.today %>
  <% value = 100 %>
<% else %>
  <% value = ((progression/total)*100).round %>
<% end %>


<div class="position-relative">

<% if time_left.to_i >= 1 %>
<p class="progress-text">Day <%=progression.to_i%> / <%=total.to_i%></p>
<% else %>
<p> </p>
<% end %>

<progress max="100" value="<%= value %>"> <%= value %> </progress>

  <% if @challenge.start_date < Date.today && @challenge.end_date == Date.today %>
    <p class="progress-text">Submission Closed, let's vote!</p>
    <p class="progress-text-end">100%</p>
  <% else %>
    <%# if time_left.to_i == 0 %>
      <%# <p class="progress-text"><strong>Last day to submit ⏰</strong></p> %>
    <%# else %>
      <p class="progress-text"><%= pluralize(time_left.to_i, "day") %> left</p>
    <%# end %>
  <% end %>
</div>
