<h1>Challenges</h1>
<p><%= @challenge.name %></p>
<p><%= @challenge.description %></p>
<p><%= @challenge.reward %></p>
<p><%= @challenge.start_date %></p>
<p><%= @challenge.end_date %></p>
<p><%= @challenge.status %></p>
