<div class="container">
  <div class="big">
    <% @challenges.each do |challenge| %>
      <div class="card">
          <div class="imgBx">
          <%= link_to challenge_path(challenge), style: "text-decoration: none" do %>
          <%=image_tag("6.jpeg")%>
          </div>

          <div class="contentBx">
            <h2><%= challenge.name %></h2>
            <div class="size">
              <h3><%= challenge.description.truncate(30) %></h3>
            </div>
            <div class="color">
            <p>💰 <%= challenge.reward %></p>
            <p>End: <%= challenge.end_date %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
