
<div class="container">
    <div class="div-open-title">
      <h4 class="open-title">Open challenges</h4>
    </div>
  <%# <ul class="nav nav-tabs"> %>
    <%# <li class="nav-item">
      <h4><%= link_to "", params[:filter].present? ? challenges_path : challenges_path(filter: 1) %></h4>
    <%# </li> %>
  <%# </ul> %>
  <div class="big">
    <% @challenges.each do |challenge| %>
      <div class="card-index">
            <div class="imgBx">
          <%= link_to challenge_path(challenge), style: "text-decoration: none" do %>
          <% if challenge.photo.attached? %>
            <%= cl_image_tag challenge.photo.key %>
          <% else %>
            <%= image_tag "avatar" %>
          <% end %>
            </div>
              <div class="contentBx">
                  <div class="info-challenge d-flex ">

                    <p class="status-index"><%= challenge.status.capitalize.gsub("_", " ")%></p>

                    <p class="reward">💰 <%= challenge.reward.truncate(10) %></p>
                  </div>
                <h2><%= challenge.name %></h2>
                <div class="size">
                  <h3><%= challenge.description.truncate(80) %></h3>
                </div>
              </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
