<div class="container">
  <div class="wrapper-challenge d-flex justify-content-around">
    <div class="cards-challenge">
      <div class="d-flex justify-content-center">
      <% if @challenge.user == current_user %>
        <h1>Edit my challenge</h1>
      <% else %>
        <h1 class="mb-3">Discover <%= @challenge.user.username.capitalize %>'s challenge </h1>
      <% end %>
      </div>
      <div class="d-flex">
        <div class="card-challenge-details">
          <div class="div-details">
            <h2><%= @challenge.name %></h2>
            <p><%= @challenge.description %></p>
          </div>
          <div class="div-tag">
            <p class="details-tag">🏆 </i> <%= @challenge.reward %></p>
            <p class="details-tag">📶 <%= @challenge.status.capitalize.gsub("_", " ") %></p>
            <p class="details-tag">🧑‍🎨 <%= pluralize(@users.count, "contributor") %></p>
          </div>
          <div class="div-progress">
            <%= render 'shared/progressionbar' %>
          </div>
        </div>
      <div class="card-creator-details">
        <div class="d-flex align-items-center creator-boxes">
          <% if @challenge.user.photo.attached? %>
            <%= cl_image_tag @challenge.user.photo.key, class: "avatar-large" %>
          <% else %>
            <%= image_tag 'avatar.png', class: 'avatar-large' %>
          <% end %>
          <div class="align-items-center">
            <h3><%= @challenge.user.username %></h3>
            <p class="fas fa-map-marker"></p>  <%= @challenge.user.country %>
          </div>
        </div>
        <div class="creator-boxes">
          <div class="mt-4">
            <h5>About</h5>
            <p class="mt-3"><%= @challenge.user.description %></p>
          </div>
          <div class="tags">
            <ul class="list-inline user-activities-list">
              <% @challenge.user.user_activities.each do |user_activity| %>
                <li class="list-inline-item"><%= user_activity.activity.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div id="social-media">
          <ul class="list-inline d-flex justify-content-around">
            <%= render 'shared/socialmedia' %>
          </ul>
        </div>
      </div>
    </div>
    <div class="div-button-add">
    <% if @challenge.status == "in_progress" %>
      <button id="buttonaddartwork" type="button" data-toggle="modal" data-target="#addArtwork">
        Add an Artwork
      </button>
    <% end %>
    <% if @challenge.status == "vote" && @challenge.user_id == current_user.id %>
      <button id="buttonshareartwork" type="button" data-toggle="modal" data-target="#shareArtwork">
        Share Artwork
      </button>
    <% end %>
     </div>
    </div>
  </div>
  <% count = @challenge.artworks.count %>
  <h2 class="mt-3" style="text-align:center"><%= pluralize(count, "contribution")%></h2>
  <div class="card-artworks-list">
      <%= form_tag selected_challenge_path(@challenge), class: "contrib", method: :post do %>
        <% @artworks.each do |artwork| %>
          <div>
            <div class="card-index" data-toggle="modal" data-target="#artworkDetails<%= artwork.id %>" data-selected="<%= artwork.selected %>" >
              <div class="card-index-content">
                <div class="imgBx">
                  <% if artwork.files.attached? %>
                    <%= cl_image_tag artwork.files.first.key %>
                  <% else %>
                    <%= image_tag 'https://source.unsplash.com/random/1200x900' %>
                  <% end %>
                </div>
                <div class="contentBx">
                  <div class="info-challenge d-flex ">
                    <a class="author-avatar">
                      <% if artwork.user.photo.attached? %>
                        <%= cl_image_tag artwork.user.photo.key %>
                      <% else %>
                        <%= image_tag 'avatar.png' %>
                      <% end %>
                    </a>
                    <p><%= artwork.user.username %></p>
                  </div>
                  <% if artwork.selected == true %>
                    <h2><%= artwork.title %> <i class="fas fa-check-circle"></i></h2>
                  <% else %>
                    <h2><%= artwork.title %></h2>
                  <% end %>
                  <div class="size">
                    <h3><%= artwork.description.truncate(50) %></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-index-action">
              <% if @challenge.status == "vote" && @challenge.user_id == current_user.id %>
                <%#= check_box_tag "artworks[]", artwork.id %>
                <input type="checkbox" name="artworks[]" class="artworks-input" id="artworks_<%= artwork.id %>" value="<%= artwork.id %>">
                <%= label_tag "artworks_#{artwork.id}", "Select this Artwork" %>
              <% end %>
            </div>
            <!-- Artwork Details Modal -->
            <div class="artwork-detail-modal">
              <div class="modal fade right" id="artworkDetails<%= artwork.id%>" tabindex="-1" aria-labelledby="artworkDetailsLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close"> %>
                      <%# <span aria-hidden="true">&times;</span> %>
                      <%# </button> %>
                    </div>
                    <h5 class="modal-title" id="artworkDetailsLabel"><%= artwork.title %></h5>
                    <div class="info-modal">
                      <a class="author-avatar">
                        <% if artwork.user.photo.attached? %>
                        <%= cl_image_tag artwork.user.photo.key %>
                        <% else %>
                        <%= image_tag 'avatar.png' %>
                        <% end %>
                      </a>
                      <div class="author-name">
                        <%= artwork.user.username %>
                      </div>
                    </div>
                      <% if artwork.files.attached? %>
                        <%= cl_image_tag artwork.files.first.key %>
                      <% else %>
                        <%= image_tag 'avatar.png' %>
                      <% end %>
                    <div class="modal-body">
                      <%= artwork.description %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @challenge.status == "vote" && @challenge.user_id == current_user.id %>
          <%= submit_tag :submit, id: "buttonshareartwork" %>
        <% end %>
      <% end %>
  </div>
</div>

<!-- Add Artwork Modal -->
<div class="modal fade" id="addArtwork" tabindex="-1" aria-labelledby="addArtworkLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="artwork-show">
      <div class="modal-header">
        <h5 class="modal-title" id="addArtworkLabel">Contribute to the challenge</h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="container">
        <%= render 'shared/artworkform', artwork: @artwork, challenge: @challenge %>
      </div>
    </div>
  </div>
</div>


<!-- Share Artwork Modal -->
<div class="modal fade" id="shareArtwork" tabindex="-1" aria-labelledby="shareArtworkLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="artwork-share">
      <div class="modal-header">
        <h5 class="modal-title" id="shareArtworkLabel">Share on Instagram</h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="container" id="showArtwork">
      </div>
    </div>
  </div>
</div>
