<div class="container">
  <div class="wrapper-challenge d-flex justify-content-around">
    <div class="card-creator-details">
      <div class="d-flex align-items-center creator-boxes">
        <% if @challenge.photo.attached? %>
          <%= cl_image_tag @challenge.photo.key, height:170 %>
        <% else %>
          <%= image_tag 'avatar', class: 'avatar-large' %>
        <% end %>
        <div class="align-items-center">
          <h3><%= @challenge.user.username %></h3>
          <p><%= @challenge.user.country %></p>
        </div>
      </div>
      <div class="creator-boxes">
        <div>
          <h5>What about me ?</h5>
          <p><%= @challenge.user.description %></p>
        </div>
        <div class="tags">
          <ul class="list-inline user-activities-list">
            <% @challenge.user.user_activities.each do |user_activity| %>
              <li class="list-inline-item"><%= user_activity.activity.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="social-media">
        <ul class="list-inline d-flex justify-content-around">
          <%= render 'shared/socialmedia' %>
        </ul>
      </div>
    </div>
    <div class="cards-challenge">
      <h1 class="mb-3">Discover your Challenge</h1>
      <div class="card-challenge-details">
        <h2><%= @challenge.name %></h2>
        <p><%= @challenge.description %></p>
        <p><i class="fas fa-gift"></i> <%= @challenge.reward %></p>
        <p>Status : <%= @challenge.status.capitalize %></p>
        <p><%=@artworks.count %> contributors</p>
        <%= render 'shared/progressionbar' %>
      </div>
      <button id="buttonaddartwork" type="button" data-toggle="modal" data-target="#addArtwork">
        Add an Artwork
      </button>
    </div>
  </div>
  <h2 class="mt-3" style="text-align:center">Contributions</h2>
  <div class="card-artworks-list">
    <div class="big">
      <% @artworks.each do |artwork| %>
        <div>
          <div class="card-index" data-toggle="modal" data-target="#artworkDetails<%= artwork.id%>">
            <div class="imgBx">
              <% if artwork.files.attached? %>
                <%= cl_image_tag artwork.files.first.key %>
              <% else %>
                <%= image_tag 'https://source.unsplash.com/random/1200x900' %>
              <% end %>
            </div>
            <div class="contentBx">
              <div class="info-challenge d-flex ">
                <a class="author-avatar" href="#">
                  <% if @challenge.user.photo.attached? %>
                    <%= cl_image_tag @challenge.user.photo.key %>
                  <% else %>
                    <%= image_tag 'avatar' %>
                  <% end %>
                </a>
              </div>
              <h2><%= artwork.title %></h2>
              <div class="size">
                <h3><%= artwork.description.truncate(50) %></h3>
              </div>
            </div>
          </div>
          <!-- Artwork Details Modal -->
          <div class="artwork-detail-modal">
            <div class="modal fade right" id="artworkDetails<%= artwork.id%>" tabindex="-1" aria-labelledby="artworkDetailsLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <h5 class="modal-title" id="artworkDetailsLabel"><%= artwork.title %></h5>
                  <div class="info-modal">
                    <a class="author-avatar" href="#">
                      <%= image_tag asset_path('avatar.png') %>
                    </a>
                    <div class="author-name">
                      <%= artwork.user.username %>
                    </div>
                  </div>
                  <%= image_tag 'https://source.unsplash.com/random/1200x900' %>
                  <div class="modal-body">
                    <%= artwork.description %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Add Artwork Modal -->
  <div class="modal fade" id="addArtwork" tabindex="-1" aria-labelledby="addArtworkLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="artwork-show">
        <div class="modal-header">
          <h5 class="modal-title" id="addArtworkLabel">Add your Artwork</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <%= render 'shared/artworkform', artwork: @artwork, challenge: @challenge %>
        </div>
      </div>
    </div>
  </div>
</section>
